<!DOCTYPE html>

<h2>Anonymous Reviews</h2>

<table>
	<thead>
		<th>Course Number</th>
		<th>Course Name</th>
	 	<th>Semester</th>
		<th>Year</th>
		<th>Professor</th>
		<th>Review</th>
	</thead>
	<tbody>
		{{#each dataEntry}}
		<tr>
			<td>{{this.courseNumber}}</td>
			<td>{{this.courseName}}</td>
			<td>{{this.semester}}</td>
			<td>{{this.year}}</td>
			<td>{{this.professor}}</td>
			<td>{{this.review}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>



